.header{
    text-align: center;
    font-size: larger;
    flex: content;
    background-color: rgb(4, 179, 27);
    color: azure;
}
.actions{
    text-align: center;
    font-size: large;
}
.text{
    text-align: center;
}
.sidebar{
    position: fixed;
    top: 56px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 250px;
    background-color: aliceblue;
    padding: 20px;
}
.container{
    margin-left: 250px;
    padding: 20px;
}